<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Associar Usuário" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="abrirNovo()"></button>
       
        </ng-template>

    
    </p-toolbar>


    <p-table #dt [value]="associacoes" [rows]="10" [paginator]="true" 
    [globalFilterFields]="['usuario.nome','equipamento.descricao_equipamento']"
        [(selection)]="associacoesSelecionadas" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando {first} de {last} do total de  {totalRecords} ítens" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Associacao de Ferramentas</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Pesquisar..." />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
           <tr>
            <th pSortableColumn="Solicitante">Responsável<p-sortIcon field="associacao.usuario.nome"></p-sortIcon></th>
            <th pSortableColumn="descricao">Descricao <p-sortIcon field="associacao.equipamento.descricao_equipamento"></p-sortIcon></th>
            <th pSortableColumn="modelo">Modelo <p-sortIcon field="associacao.equipamento.modelo"></p-sortIcon></th>
            <th pSortableColumn="fabricante">Fabricante <p-sortIcon field="associacao.equipamento.fabricante"></p-sortIcon></th>
            <th pSortableColumn="codigoCPTM">CodigoCPTM <p-sortIcon field="associacao.equipamento.codigo_cptm"></p-sortIcon></th>
            <th pSortableColumn="status">Status<p-sortIcon field="status"></p-sortIcon></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-associacao>
            <tr>
                <td>{{associacao.usuario.nome}}</td>
           
                <td>{{associacao.equipamento.descricao_equipamento}}</td>
        
                <td>{{associacao.equipamento.modelo}}</td>
       
                <td>{{associacao.equipamento.fabricante}}</td>
          
                <td>{{associacao.equipamento.codigo_cptm}}</td>
                <td>{{associacao.status}}</td>
            </tr>
        </ng-template>

        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Total:  {{associacaos ? associacaos.length : 0 }} associacaos
            </div>
        </ng-template>

    </p-table>
</div>



<p-dialog [(visible)]="associacaoDialogo" [style]="{width: '100%'}"
     header="Associar Usuario" [modal]="true" styleClass="p-fluid" >
    <ng-template pTemplate="content">

        <div class="p-field">
            <label for="nome">Usuarios</label>
            <p-dropdown [options]="usuarios" [(ngModel)]="associacao.usuario" 
                placeholder="Usuário" optionLabel="nome" styleClass="pequena"></p-dropdown>
        </div>

        <div class="p-field">
            <label for="nome">Equipamentos</label>
          
         
        <p-dropdown [options]="equipamentos" [(ngModel)]="associacao.equipamento"
            optionLabel="descricao_equipamento" [filter]="true" filterBy="codigo_cptm"
            [showClear]="true" placeholder="Selecione o Equipamento">
        </p-dropdown>

<br/>   <br/>
<br/>
        <br/>
        <br/>   <br/>
        <br/>
                <br/>

        </div>
     


    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="esconderDialogo()"></button>
        <button pButton pRipple label="Savar" icon="pi pi-check" class="p-button-text" (click)="salvarassociacao()"></button>
    </ng-template>

</p-dialog>





