<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Associar Usuário" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="abrirNovo()"></button>
       
        </ng-template>

    
    </p-toolbar>


    <p-table #dt [value]="controles" [rows]="10" [paginator]="true" [globalFilterFields]="['dataDevolucao','dataRetirada','Solicitante','Equipamento']"
        [(selection)]="controlesSelecionados" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando {first} de {last} do total de  {totalRecords} ítens" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Controle de Ferramentas</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Pesquisar..." />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
              
                <th pSortableColumn="Solicitante">Solicitante <p-sortIcon field="Solicitante"></p-sortIcon></th>
          
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-controle>
            <tr>
      
                <td>{{controle.usuario.nome}}</td>
          
            </tr>
        </ng-template>

        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Total:  {{controles ? controles.length : 0 }} controles
            </div>
        </ng-template>

    </p-table>
</div>



<p-dialog [(visible)]="controleDialogoAssociarUsuario" [style]="{width: '100%'}" header="Associar Usuario" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">

        <div class="p-field">
            <label for="nome">Usuarios</label>
            <p-dropdown [options]="usuarios" [(ngModel)]="usuarioSelecionado" 
                placeholder="Usuário" optionLabel="nome" ></p-dropdown>
        </div>

        <div class="p-field">
            <label for="nome">Equipamentos</label>
          
         
<p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true" filterBy="code"
[showClear]="true" placeholder="Select a Country">


</p-dropdown>




        </div>
        <br/>
        <br/>


    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="esconderDialogo()"></button>
        <button pButton pRipple label="Savar" icon="pi pi-check" class="p-button-text" (click)="salvarControle()"></button>
    </ng-template>

</p-dialog>





