<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Associar Equipamento" 
            icon="pi pi-plus" class="p-button-success p-mr-2" (click)="novoControle()"></button>
            <button pButton pRipple label="Coletivos" 
            icon="pi pi-users" class="p-button-info p-mr-2" (click)="selecionarColetivo()"></button>
            <button pButton pRipple label="Individuais" 
            icon="pi pi-user" class="p-button-warning p-mr-2" (click)="selecionarIndividuais()"></button>
            
        </ng-template>
    </p-toolbar>
  

    <div>
        <p-table #dt [value]="controles" [rows]="10" [paginator]="true" 
        [globalFilterFields]="['equipamento.descricao','equipamento.modelo', 'equipamento.fabricante', 'equipamento.codigo_cptm',

                            'disponivel','pendente']"
            [(selection)]="controlesSelecionados" [rowHover]="true" dataKey="id" styleClass="p-datatable-sm"
            currentPageReportTemplate="Mostrando {first} de {last} do total de  {totalRecords} ítens" [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                    <h5 class="p-m-0">{{label}}</h5>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Pesquisar..." />
                    </span>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">N° Controle</th>
                <th pSortableColumn="equipamento.descricao">Descricao <p-sortIcon field="controle.equipamento.descricao"></p-sortIcon></th>
                <th pSortableColumn="equipamento.modelo">Modelo <p-sortIcon field="controle.equipamento.modelo"></p-sortIcon></th>
                <th pSortableColumn="equipamento.fabricante">Fabricante <p-sortIcon field="controle.equipamento.fabricante"></p-sortIcon></th>
                <th pSortableColumn="equipamento.codigo_cptm">CodigoCPTM <p-sortIcon field="controle.equipamento.codigo_cptm"></p-sortIcon></th>
                <th *ngIf="coletivo" pSortableColumn="area.descricao">área responsável<p-sortIcon field="descricao"></p-sortIcon></th>
                <th *ngIf="!coletivo" pSortableColumn="usuario.nome">usuário responsável<p-sortIcon field="descricao"></p-sortIcon></th>

                <th pSortableColumn="status">Status<p-sortIcon field="status"></p-sortIcon></th>

                <th></th>
            </tr>
            </ng-template>

            <ng-template pTemplate="body" let-controle>
         
                <tr>
                          
                  <td>{{controle.id}}</td>
                    <td>{{controle.equipamento.descricao}}</td>
                    <td>{{controle.equipamento.modelo}}</td>
                    <td>{{controle.equipamento.fabricante}}</td>
                    <td>{{controle.equipamento.codigo_cptm}}</td>
                    <td *ngIf="coletivo">{{controle.area.descricao}}</td>
                    <td *ngIf="!coletivo">{{controle.usuario.nome}}</td>
                    <td>{{controle.status}}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-info p-mr-1" 
                        (click)="visualizar(controle)" title="Visualizar"></button>

                        <button pButton pRipple icon="pi pi-caret-down" class="p-button-rounded p-button-success p-mr-1" 
                        (click)="solicitaEquipamento(controle)" title="Solicita o Equipamento"
                        *ngIf="coletivo && controle.disponivel"></button>

                        <button pButton pRipple icon="pi pi-caret-up" class="p-button-rounded p-button-warning p-mr-1"
                        (click)="devolveEquipamento(controle)" title="Devolve Equipamento"
                        *ngIf="coletivo && !controle.disponivel"></button>


                        <button pButton pRipple icon="pi pi-caret-down" class="p-button-rounded p-button-warning p-mr-1" 
                        (click)="tratarPendencia(controle)" title="Nova Pendência" 
                        *ngIf="!coletivo && !controle.pendente"></button>

                        <button pButton pRipple icon="pi pi-caret-up" class="p-button-rounded p-button-danger p-mr-1" 
                        (click)="tratarPendencia(controle)" title="Finaliza pendência"
                        *ngIf="!coletivo && controle.pendente"></button>

            
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    Total:  {{controles ? controles.length : 0 }} controles
                </div>
            </ng-template>
        </p-table>
    </div>


    <p-dialog [(visible)]="visualizarDialogo" [style]="{width: '450px'}"
        header="Visualizar Controle" [modal]="true" styleClass="p-fluid" >

         
            <ng-template pTemplate="content">
                <div *ngIf="!controle.coletivo">
                    <div class="p-text-uppercase">N° da pendência: {{pendencia.id}}</div>
                    <div class="p-text-uppercase">Solução da pendência: {{pendencia.solucao_pendencia}}</div>
                    <div class="p-text-uppercase">Motivo da pendência: {{pendencia.motivo_pendencia}}</div>
                    <div class="p-text-uppercase">Data da Pendência: {{pendencia.data_pendencia | date:'MM/dd/yyyy'}}</div>
                    <div class="p-text-uppercase">Data da Solução: {{pendencia.data_solucao | date:'MM/dd/yyyy'}}</div>
                </div>
                <div *ngIf="controle.coletivo">
                    <div class="p-text-uppercase">N° da solicitação: {{solicitacao.id}}</div>
                    <div class="p-text-uppercase">Nome do usuário: {{solicitacao.usuario.nome}}</div>
                    <div class="p-text-uppercase">Data da devolução: {{solicitacao.data_devolucao| date:'MM/dd/yyyy'}}</div>
                    <div class="p-text-uppercase">Data da solicitação: {{solicitacao.data_solicitacao | date:'MM/dd/yyyy'}}</div>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="fecharVisualizarDialogo()"></button>
            </ng-template>
    </p-dialog>




<p-dialog [(visible)]="controleDialogo" [style]="{width: '450px'}"
     header="Associar Equipamento" [modal]="true" styleClass="p-fluid" >
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="nome">Usuarios</label>
            <p-dropdown [options]="usuarios" [(ngModel)]="controle.usuario" 
                placeholder="Usuário" optionLabel="nome" styleClass="pequena"></p-dropdown>
        </div>
        <div class="p-field">
            <label for="nome">Equipamentos</label>
        <p-dropdown [options]="equipamentos" [(ngModel)]="controle.equipamento"
            optionLabel="descricao" [filter]="true" filterBy="codigo_cptm"
            [showClear]="true" placeholder="Selecione o Equipamento">
        </p-dropdown>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="fecharControleDialogo()"></button>
        <button pButton pRipple label="Savar" icon="pi pi-check" class="p-button-text" (click)="adicionaControle()"></button>
    </ng-template>
</p-dialog>


<p-dialog [(visible)]="pendenciaDialogo" [style]="{width: '480px'}"
     header={{status_pendencia}} [modal]="true" styleClass="p-fluid" blockScroll="false">
    <ng-template pTemplate="content">

        <div class="p-field">
            <label for="pendencia_usuario_nome">Nome do responsável pelo equipamento</label>
            <input type="text" pInputText id="pendencia_usuario_nome" [(ngModel)]="controle.usuario.nome" required autofocus disabled/>
        </div>
        
        <div class="p-field">
            <label for="pendencia_descricao_equipamento">Descrição do equipamento</label>
            <input type="text" pInputText id="pendencia_descricao_usuario" [(ngModel)]="controle.equipamento.descricao" required autofocus disabled/>
        </div>

        <div class="p-field">
            <label for="pendencia_data_pendencia">Data da pendencia</label>
            <input type="text" pInputText id="pendencia_data_pendencia" [(ngModel)]="pendencia.data_pendencia" required autofocus disabled/>
        </div>
        

        <div class="p-field">
            <label for="nome">Descrição da Pendencia</label>
            <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" *ngIf="!controle.pendente"  [(ngModel)]="pendencia.motivo_pendencia"></textarea>
            <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" *ngIf="controle.pendente" disabled  [(ngModel)]="pendencia.motivo_pendencia"></textarea>
        </div>
        <div class="p-field" *ngIf="controle.pendente">
            <label for="nome">Solução</label>
            <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" *ngIf="controle.pendente"  [(ngModel)]="pendencia.solucao_pendencia"></textarea>
            <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" *ngIf="!controle.pendente" disabled  [(ngModel)]="pendencia.solucao_pendencia"></textarea>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="fecharPendenciaDialogo()"></button>
        <button pButton pRipple label="Savar" icon="pi pi-check" class="p-button-text" (click)="adicionaPendencia()"></button>
    </ng-template>
</p-dialog>







<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


